/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
.home {
  background-color: #e9e9e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .overlap-wrapper {
  background-color: #e9e9e9;
  height: 2600px;
  overflow: hidden;
  width: 1440px;
}

.home .overlap {
  background-image: url(https://c.animaapp.com/NBypBccO/img/mask-group-1.svg);
  background-size: 100% 100%;
  height: 3031px;
  position: relative;
}

.home .group {
  height: 299px;
  left: 353px;
  position: absolute;
  top: 163px;
  width: 784px;
}

.home .overlap-group {
  height: 299px;
  position: relative;
  width: 782px;
}

.home .vector {
  height: 259px;
  left: 49px;
  position: absolute;
  top: 0;
  width: 733px;
}

.home .img {
  height: 259px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 733px;
}

.home .text-wrapper {
  color: #000000;
  font-family: "Figtree", Helvetica;
  font-size: 110px;
  font-weight: 600;
  left: 77px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 89px;
  white-space: nowrap;
}

.home .div {
  height: 193px;
  left: 184px;
  position: absolute;
  top: 524px;
  width: 1071px;
}

.home .p {
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 48px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1071px;
}

.home .overlap-group-wrapper {
  height: 76px;
  left: 231px;
  position: absolute;
  top: 117px;
  width: 277px;
}

.home .overlap-2 {
  border-radius: 43px;
  height: 76px;
  position: relative;
  width: 275px;
}

.home .rectangle {
  background-color: #06aee1;
  border-radius: 43px;
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 275px;
}

.home .text-wrapper-2 {
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.home .div-wrapper {
  height: 76px;
  left: 565px;
  position: absolute;
  top: 117px;
  width: 277px;
}

.home .rectangle-2 {
  background-color: #92d2e6;
  border-radius: 43px;
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 275px;
}

.home .text-wrapper-3 {
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 85px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.home .overlap-3 {
  background-color: #92d2e6;
  border-radius: 33.54px;
  height: 173px;
  left: 291px;
  position: absolute;
  top: 1104px;
  width: 859px;
}

.home .text-wrapper-4 {
  color: #000000;
  font-family: "Lexend", Helvetica;
  font-size: 47.7px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.home .text-wrapper-5 {
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 26.8px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 100px;
}

.home .group-2 {
  height: 76px;
  left: 414px;
  position: absolute;
  top: 2377px;
  width: 277px;
}

.home .group-3 {
  height: 76px;
  left: 748px;
  position: absolute;
  top: 2377px;
  width: 277px;
}

.home .text-wrapper-6 {
  color: #000000;
  font-family: "Lexend", Helvetica;
  font-size: 48px;
  font-weight: 500;
  left: 463px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 980px;
}

.home .text-wrapper-7 {
  color: #000000;
  font-family: "Lexend", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 558px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2270px;
}

.home .overlap-4 {
  background-color: #92d2e6;
  border-radius: 33.54px;
  height: 173px;
  left: 291px;
  position: absolute;
  top: 1324px;
  width: 859px;
}

.home .overlap-5 {
  background-color: #92d2e6;
  border-radius: 33.54px;
  height: 173px;
  left: 291px;
  position: absolute;
  top: 1794px;
  width: 859px;
}

.home .overlap-6 {
  background-color: #92d2e6;
  border-radius: 33.54px;
  height: 173px;
  left: 291px;
  position: absolute;
  top: 2014px;
  width: 859px;
}

.home .overlap-7 {
  background-color: #92d2e6;
  border-radius: 33.54px;
  height: 205px;
  left: 291px;
  position: absolute;
  top: 1543px;
  width: 859px;
}

.home .text-wrapper-8 {
  color: #000000;
  font-family: "Space Grotesk", Helvetica;
  font-size: 26.8px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 100px;
  width: 739px;
}